{% extends "base.html" %}

{% block content %}
<p class="green"><b><span class="main">Logika</span></b> - це українська школа програмування та IT-освіти, яка орієнтована на дітей та підлітків. Вона пропонує курси для тих, хто хоче розвивати навички в сфері технологій, програмування та цифрових навичок. Основна мета школи — навчити учнів не лише використовувати існуючі технології, а й створювати нові, розвивати логічне та креативне мислення.</p>
<h2>Основні напрямки навчання в Logika School:</h2>

<b>
<ul>
    <li>Програмування</li>
    <li>Веб-розробка</li>
    <li>Розробка мобільних додатків</li>
    <li>Розробка ігор</li>
    <li>Комп'ютерна грамотність</li>
    <li>Графічний дизайн</li>
    <li>Геймдизайн</li>

</ul>
</b>

<h2>Формати навчання:</h2>

<ul>
    <li><b>Онлайн-курси:</b> Вибір курсу з доступом до записів лекцій, матеріалів для самостійного вивчення та підтримки в чатах.</li>
    <li><b>Очні курси:</b> Заняття в групах в офлайн-форматі, що дає змогу безпосередньо працювати з наставниками.</li>
    <li><b>Літні табори:</b> Літні інтенсиви для дітей, які бажають за короткий час отримати значний обсяг знань.</li>
</ul>


<h2>Як записатися:</h2>
<p>Запис на курси можна здійснити через <a href="https://logikaschool.com/">офіційний сайт школи</a> або звернувшись до представників школи через соціальні мережі або контактні номери телефонів.

Якщо вас цікавить більше деталей або конкретний курс, рекомендується звернутися безпосередньо до школи або перевірити їх офіційний сайт для актуальної інформації.</p>
{% endblock %}
