{% extends "base.html" %}

{% block content %}
<p class="h2"> Запитання  </p>
<p class="h4">{{question[2]}}</p>
<form method="post" action="{{url_for('answer_func', quiz_id=quiz_id)}}">
    {% for option in options %}
    <div class="container p-5 my-5 border">
    <input id="option_{{loop.index}}" type="radio" name="answer" value={{"option[3]"}}/>
    <label for="option_{{loop.index}}">{{option[1]}}</label>
    </div>
    {% endfor %}

    <button type="submit">Відповісти</button>
</form>


{% endblock %}