{% extends "base.html" %}

{% block content %}
<h3 class="text-muted"> Запитання:  </h3>
<h4 class="text-dark">{{question[2]}}</h4>
<form method="post" action="{{url_for('answer_func', quiz_id=quiz_id)}}">
    {% for option in options %}
    <div class="container p-5 my-5 border">
    <input id="option_{{loop.index}}" type="radio" name="answer" value={{"option[3]"}}/>
    <label for="option_{{loop.index}}">{{option[1]}}</label>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-outline-secondary">Відповісти</button>
</form>


{% endblock %}